Options -MultiViews
RewriteEngine On
RewriteBase /
ErrorDocument 404 /404.html
ErrorDocument 500 /500.html
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]
